body{
    margin: 0% 1% 0%;
}
h3{
    color: white;
    background: darkslateblue;
    width: 100%; 
    padding: 3px 3px 3px 3px;
}

#emptableId{
    width: 50%;
    margin: auto;
    border-collapse: collapse;
   
}
table tr>th, tr>td{
    border: 1px solid gray;
    padding: 10px 10px 10px 10px;
}
table tr > th{
    background-color: green;
    color: white;
   
  
}
table  tr:nth-child(even){background-color:white;}
 
table tr:hover{background-color: #ddd;}

.issueForm{
    width: 50%;
    margin: auto;
    background-color: lightgrey;
}

.issueForm label{
    width: 150px;
    float: left;
}
.textCls {
    width: 300px;
    height: 25px;
}